.main-productos{
    
    h3{
        color: white;
        text-align: center;
        font-style: inherit;
      
    }
}

$numero1: 100px;


.section-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: $numero1/2 $numero1/4; 
    color: white;
                img{
                    height: 500px;
                    width: 200px;
                    &:hover{
                        height: 600px;
                        width: 250px;
                     transition: 1s;
                    }
                }
                div{
                    background-color: black;
                }
                h5{
                    border: 2px solid lightseagreen;
                    background-color: azure;
                    color: black;
                }
}
.card{
    background-color: white !important;
}

.section-bateria{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 50px 20px;
            text-align: center;
                        img{
                                width: $numero1*6;
                                height: $numero1*5;
                                padding: 15px;
                                &:hover{
                                    width: $numero1*7;
                                    height: $numero1*6;
                                    transition: 1s;
                                    
                                }
                        }
                        h4{
                            color: black;
                            border: solid 3px red;
                            background-color: crimson;
                        }
                        
}



.section-accesorios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 50px 20px;
   
   

    img{
        width: 300px;
        height: 400px;
        padding: 15px;
        

            &:hover{
                width: 350px;
                height: 450px;
                transition: 1s;
            }
        
}}