$color-1: black;
    
@import "_footer";


@import "_navbar";


.contenedor-principal{
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "aside aside"
    "footer footer";

    background-color: $color-1;
    color: white;

}

.home-header{
    grid-area:  header;

    h5{ font-size: 150px;}
    p{
        font-size: 30px;
    }
    

}


   




.home-main{ grid-area: main;

    padding: 20px;

    img{
        margin: 10px;

       
    }

    

}


$font-weights:("regular":400, "medium":500 ,"bold":700);



        
    

    
   

    




.active{
    color: black !important;
}


    .contenedor-guitarras{
        background-color: black;
    }
   
    #carouselExampleDark{
        margin: 100px 200px;
    }

    .guitarra-header{
            img{
                height: 700px;
            }
    }

    
    
    .main-productos{
       
        img{
            width: 800px;
            height: 700px;
            padding: 100px;
        }
        h5{
            font-size: 70px;
            color: black;

        }
        p{
            font-size: 20px;
            color: black;
        }
    }



    @import "_responsive";
