
.contenedor-principal{
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "aside aside"
    "footer footer";
}

.home-header{
    grid-area:  header;

    h5{ font-size: 150px;}
    p{
        font-size: 30px;
    }
    

}

.home-nav{
    grid:  nav;

}

.home-main{ grid-area: main;

    padding: 20px;

    img{
        margin: 30px;

       
    }

    

}

.home-aside{ grid-area: aside;

    padding: 10px;

    img{
        margin: 30px;
    }

}

.home-footer{ grid-area: footer;
    margin: 40px;

   

}

