$color-1: black;
    
@import "_footer";


@import "_navbar";

@import "_main-productos";


.contenedor-principal{
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "aside aside"
    "footer footer";

    background-color: $color-1;
    color: white;

}

.contenedor-productos{
    background-color: black;
}

.home-header{
    grid-area:  header;

    h5{ font-size: 150px;}
    p{
        font-size: 30px;
    }
    

}


   




.home-main{ grid-area: main;

    padding: 20px;

    img{
        margin: 10px;

       
    }

    

}

.section-carrusel{
                display: flex;
                flex-direction: row !important;
                background-color: black;
                margin: 20px;

                div{
                    margin: 20px;
                    background-color: black;
                }

                img{
                    
                    height: 500px;
                }

            }       

            .card{
                background-color: black;
            }


$font-weights:("regular":400, "medium":500 ,"bold":700);



        
    

    
   

    




.active{
    color: black !important;
}


   

    
    
    



    @import "_responsive";
